/* Blog styles
-------------------------------------------------------------- */

.lang-it{
    .blog_list .navigation .nav-links .prev:after{
        width: 94%;
        left: 4px;
    }
    .blog_list .navigation .nav-links .next:after{
        width: 94%;
        left: 4px;
    }
}


.archive, .blog, .single-post{
    //overflow-x: hidden;

    .full_page_container{
        height: auto;
        min-height: 100vh;

        .full_page{
            height: auto;
            //min-height: 100vh;
        }
    }

    .footer_holder.fixed_footer.blog{
        position: relative;
        //max-width: calc(100% - 20px);

        .box_item, .designed_box_item{
            background-color: #ffffff;
            color: #757575;

            a{
                color: #757575;
            }

            path{
                fill: #757575;
            }
        }
    }
}

.blog_list{
    .left{
        a:first-of-type{
            display: inline-block;
            position: relative;

            div{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                background-color: #ffffff;
                transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
            }

            &:hover div{
                opacity: 0.35;
            }
        }
    }

    .ilustrations{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .el1 {
            position: absolute;
            right: 7.4vw;
            top: 75.8vh;
            width: get-vw(55px);
            height: get-vw(60px);

            img {
                max-width: 100%;
            }

            img.el11 {
                position: absolute;
                width: get-vw(21px);
                left: 0;
                bottom: 0;
            }

            img.el12 {
                position: absolute;
                width: get-vw(22px);
                left: 0;
                top: 0;
            }
            img.el13 {
                position: absolute;
                width: get-vw(21px);
                right: 0;
                top: 20%;
            }
        }
        .el2 {
            position: absolute;
            left: 7.4vw;
            top: 54.4vh;
            width: get-vw(125px);
            height: get-vw(71px);

            img {
                max-width: 100%;
            }

            img.el21 {
                position: absolute;
                width: get-vw(53px);
                right: 0;
                bottom: 0;
                -ms-transform: rotate(166deg);
                -webkit-transform: rotate(166deg);
                transform: rotate(166deg);
            }

            img.el22 {
                position: absolute;
                width: get-vw(20px);
                left: 0;
                top: 0;
                -ms-transform: rotate(-64deg);
                -webkit-transform: rotate(-64deg);
                transform: rotate(-64deg);
            }
        }

        .el3 {
            position: absolute;
            left: 12vw;
            top: 17.8vh;
            width: get-vw(111px);
            height: get-vw(93px);

            img {
                max-width: 100%;
            }

            img.el28b {
                position: absolute;
                width: get-vw(50px);
                right: 0;
                top: 0;
                -ms-transform: rotate(50deg);
                -webkit-transform: rotate(50deg);
                transform: rotate(50deg);
            }
        }

        .el4 {
            position: absolute;
            right: 13.5vw;
            top: 19.8vh;
            img {
                width: get-vw(98px);
                max-width: 100%;
            }
        }

        .el5 {
            position: absolute;
            top: 44vh;
            right: 17vw;

            img {
                width: get-vw(52px);
                max-width: 100%;
                -ms-transform: rotate(-15deg);
                -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
            }
        }

        .el6 {
            position: absolute;
            top: 71vh;
            left: 16.2vw;
            img {
                width: get-vw(76px);
                max-width: 100%;
            }
        }

    }
    a:hover,
    a:focus{
        text-decoration: none;
        cursor: pointer;
    }
    .screen-reader-text{
        display: none;
    }
    .navigation{
        padding-top: 11px;
        //padding-bottom: 165px;
        clear: both;

        .nav-links{
            text-align: center;

            .page-numbers{
                font-family: liebedorisbold, sans-serif;
                font-size: 26px;
                line-height: 28px;
                color: #b1b1b1;
                font-weight: 400;
                text-align: center;
                padding: 0 5px;
                transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);

                &:hover{
                    color: #030303;
                }

                &.current{
                    color: #030303;
                }
            }

            .next{
                float: right;
                position: relative;
                top: 5px;
                right: 24px;

                &:after{
                    //background: transparent url('../images/send_line.svg') no-repeat center center;
                    background: transparent url(../images/ico_instagram_line.svg) no-repeat center top;
                    position: absolute;
                    content: " ";
                    display: block;
                    //width: 100%;
                    width: 93%;
                    height: 3px;
                    background-size: cover;
                    z-index: 1;
                    bottom: -12px;
                    //left: 0;
                    left: 5px;
                    opacity: 0;
                    transition: all 250ms;
                }
            }

            .prev{
                float: left;
                position: relative;
                top: 5px;
                left: 24px;

                &:after{
                    //background: transparent url('../images/send_line.svg') no-repeat center center;
                    background: transparent url(../images/ico_instagram_line.svg) no-repeat center top;
                    position: absolute;
                    content: " ";
                    display: block;
                    //width: 100%;
                    width: 92%;
                    height: 3px;
                    background-size: cover;
                    z-index: 1;
                    bottom: -12px;
                    left: 4px;
                    opacity: 0;
                    transition: all 250ms;
                }
            }

            .prev,
            .next{
                position: relative;
                font-family: "brandon-grotesque", sans-serif;
                font-size: 11px;
                line-height: 13px;
                color: #030303;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.2em;

                &:hover:after{
                    opacity: 1;
                }
            }
        }
    }

    .single_dots_overlay{
        background: transparent url("../images/contact_dots.png") repeat center center;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    .top_menu nav.main_menu ul{
        padding: 31px 0 0 0;
    }

    .top_menu .all_products{
        padding-top: 20px;
        padding-right: 20px;
    }

    .title {
        font-family: liebedorisbold, sans-serif;
        font-size: 140px;
        line-height: 60px;
        color: #030303;
        font-weight: 400;
        text-align: center;
        width: 100%;
        padding-top: 153px;
        letter-spacing: 0;

        small {
            font-family: liebedorisregular, sans-serif;
            font-size: 140px;
            font-weight: 400;
            letter-spacing: -0.5px;
            padding-right: 26px;
        }
    }

    .categories {
        text-align: center;
        padding-top: 37px;
        padding-bottom: 70px;

        .short_line {
            display: inline-block;
            height: 19px;
            padding: 0 60px;
            position: relative;
            top: 6px;
        }

        a {
            display: inline-block;
            font-family: "brandon-grotesque", sans-serif;
            color: #777777;
            font-size: 15px;
            line-height: 26px;
            text-decoration: none;
            font-weight: 700;
            margin-right: 14px;
            transition: color 250ms;

            &:hover{
                color: #000;
            }
        }
    }

    .left{
        padding-left: 5px;
        padding-right: 0;
        background-color: #ffffff;
        padding-bottom: 165px;

        .title_post{
            font-family: liebedorisbold, sans-serif;
            font-weight: 400;
            font-size: 32px;
            line-height: 32px;
            color: #000000;
            display: block;
            padding-top: 35px;
            max-width: 310px;
        }

        .description_post{
            font-family: "brandon-grotesque", sans-serif;
            font-weight: 500;
            //color: #bdbdbd;
            color: #1e1e1e;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0;
            display: block;
            padding-top: 20px;
            max-width: 370px;
            padding-bottom: 52px;
            text-align: justify;
        }
    }

    .right{
        .right_wrap{
            position: relative;
            bottom: 5px;
            left: 60px;
            background-color: #ffffff;
        }

        .txt-1{
            font-family: liebedorisbold, sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 28px;
            color: #020202;
            small{
                font-family: liebedorisregular, sans-serif;
                font-weight: 400;
                font-size: 26px;
                line-height: 28px;
                color: #020202;
            }
        }
        .txt-2{
            font-family: "brandon-grotesque", sans-serif;
            font-weight: 500;
            //color: #bdbdbd;
            color: #1e1e1e;
            font-size: 15px;
            line-height: 26px;
            padding-top: 5px;
            padding-right: 32px;
            letter-spacing: -0.22px;
            padding-bottom: 8px;
        }
        .txt-3{
            font-family: "brandon-grotesque", sans-serif;
            font-weight: 700;
            color: #1e1e1e;
            font-size: 15px;
            line-height: 26px;
            padding-top: 14px;
            letter-spacing: -0.25px;
            padding-right: 30px;
            padding-bottom: 15px;
        }
       .location_line{
           max-width: 100%;

           &.lang-en{
               display: none;
           }
       }
        .form {
            padding-bottom: 100px;

            &.lang-en{
                display: none;
            }

            .gform_footer{
                position: relative;
                cursor: pointer;
                max-width: 140px;
                padding: 0;
                margin: 30px 0 0 0;
                width: auto;
            }

            label{
                font-family: liebedorisbold, sans-serif;
                font-weight: 400;
                font-size: 27px;
                line-height: 29px;
                color: #000000;
                display: block;
                letter-spacing: 0;

                &.label_one{
                    padding-top: 30px;
                }

                &.label_two{
                    padding-top: 9px;
                }
            }

            .gfield_error label {
                color: #ff0000;
            }

            .gform_wrapper {
                margin: 0;
            }

            .gform_wrapper .gfield_required {
                display: none;
            }

            .gform_wrapper .top_label div.ginput_container {
                margin-top: 0;
            }

            .gform_confirmation_wrapper,
            .gform_wrapper div.validation_error {
                font-family: "brandon-grotesque", sans-serif;
                font-weight: 700;
                color: #1e1e1e;
                font-size: 15px;
                line-height: 26px;
                padding-top: 14px;
                letter-spacing: -0.25px;
                padding-right: 30px;
                padding-bottom: 15px;
                margin-bottom: 0;
                border-top: 0 none;
                border-bottom: 0 none;
                clear: both;
                width: auto;
                text-align: left;
            }

            .gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
                background-color: transparent;
                margin-bottom: 0 !important;
                border-top: 0 none;
                border-bottom: 0 none;
                padding-bottom: 0;
                padding-top: 0;
            }

            .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
                display: none;
            }

            .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
            input[type="text"],
            input[type="email"] {
                font-family: liebedorisregular, sans-serif;
                font-weight: 400;
                font-size: 26px;
                line-height: 28px;
                color: #000000;
                display: block;
                border: 0;
                padding: 0;
            }

            input[type="submit"] {
                position: relative;
                background-color: transparent;
                margin: 0 !important;
                padding: 0 82px 0 0 !important;
                border: 0 none !important;
                font-family: "brandon-grotesque", sans-serif;
                font-size: 10px;
                line-height: 14px;
                //height: 45px;
                color: #030303;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.2em;
                opacity: 0 !important;
                transform: translateY(100%) !important;
                transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
                //padding-left: 20px;
                z-index: 99;

            }

            .gform_footer:after {
                background: transparent url('../images/svg/new-line-black.svg') no-repeat center left;
                position: absolute;
                content: " ";
                bottom: 5px;
                display: inline-block;
                height: 3px;
                z-index: 1;
                width: 100%;


            }

            &.lang-sl .gform_footer:after{
                right: -4%;
            }
            &.lang-it .gform_footer:after{
                right: 0;
            }
            &.lang-en .gform_footer:after{
                right: -4%;
            }

            .gform_footer:before {
                position: absolute;
                content: " ";
                left: -7px;
                bottom: 5px;
                display: block;
                right: calc(100% + 7px);
                height: 3px;
                background-size: cover;
                background-color: #ffffff;
                transition: left 0.24s cubic-bezier(0.215, 0.61, 0.355, 1), right 0.24s 240ms cubic-bezier(0.215, 0.61, 0.355, 1);
                z-index: 9;
            }

            .gform_footer:hover{
                &:before{
                    right: 70px;
                    left: calc(100% - 70px);
                    transition: right 0.24s cubic-bezier(0.215, 0.61, 0.355, 1), left 0.24s 240ms cubic-bezier(0.215, 0.61, 0.355, 1);
                }

                .btn_arrow{
                    &.one{
                        opacity: 0;
                        transform: translateX(0)!important;
                    }
                    &.two{
                        opacity: 1!important;
                        transform: translateX(50%)!important;
                        transition: all 0.24s 65ms cubic-bezier(0.215, 0.61, 0.355, 1)!important;
                    }
                }

                input[type="submit"]{
                    opacity: 1!important;
                    transform: translateY(0)!important;
                    transition: all 0.24s 65ms cubic-bezier(0.215, 0.61, 0.355, 1)!important;
                }

                .text{
                    opacity: 0!important;
                    transform: translateY(-150%)!important;
                }
            }

            .text{
                font-family: "brandon-grotesque", sans-serif;
                font-size: 10px;
                line-height: 14px;
                color: #030303;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: 0.2em;
                opacity: 1!important;
                transform: translateY(-100%)!important;
                transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
                padding-left: 0;
            }

            .arrow{
                background: transparent url('../images/button/btn_holder_black.svg') no-repeat right center;
                width: 47px;
                height: 45px;
                position: absolute;
                display: inline-block;
                background-size: cover;
                right: 11px;
                top: -9px;

                .btn_arrow{
                    //background: transparent url("../images/button/btn_arrow_black.svg") no-repeat center center;
                    //background-size: cover;
                    width: 16px;
                    height: 8px;
                    display: inline-block !important;
                    transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
                    //position: absolute;
                    //top: 19px;
                    //right: 14px;
                    margin-top: 12px;
                    position: relative!important;

                    path{
                        fill: #ffffff!important;
                        opacity: 1!important;
                    }

                    &.one{
                        opacity: 1;
                        transform: translateX(50%);
                        left: 8px;
                    }
                    &.two{
                        opacity: 0;
                        right: 8px;
                        transform: translateX(100%);
                    }
                }
            }
        }
    }
}

/* Blog post styles
-------------------------------------------------------------- */

.blog_post{
    .ilustrations{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .el1 {
            position: absolute;
            right: 7.4vw;
            top: 75.8vh;
            width: get-vw(55px);
            height: get-vw(60px);

            img {
                max-width: 100%;
            }

            img.el11 {
                position: absolute;
                width: get-vw(21px);
                left: 0;
                bottom: 0;
            }

            img.el12 {
                position: absolute;
                width: get-vw(22px);
                left: 0;
                top: 0;
            }
            img.el13 {
                position: absolute;
                width: get-vw(21px);
                right: 0;
                top: 20%;
            }
        }
        .el2 {
            position: absolute;
            left: 7.4vw;
            top: 54.4vh;
            width: get-vw(125px);
            height: get-vw(71px);

            img {
                max-width: 100%;
            }

            img.el21 {
                position: absolute;
                width: get-vw(53px);
                right: 0;
                bottom: 0;
                -ms-transform: rotate(166deg);
                -webkit-transform: rotate(166deg);
                transform: rotate(166deg);
            }

            img.el22 {
                position: absolute;
                width: get-vw(20px);
                left: 0;
                top: 0;
                -ms-transform: rotate(-64deg);
                -webkit-transform: rotate(-64deg);
                transform: rotate(-64deg);
            }
        }

        .el3 {
            position: absolute;
            left: 12vw;
            top: 17.8vh;
            width: get-vw(111px);
            height: get-vw(93px);

            img {
                max-width: 100%;
            }

            img.el28b {
                position: absolute;
                width: get-vw(50px);
                right: 0;
                top: 0;
                -ms-transform: rotate(50deg);
                -webkit-transform: rotate(50deg);
                transform: rotate(50deg);
            }
        }

        .el4 {
            position: absolute;
            right: 13.5vw;
            top: 19.8vh;
            img {
                width: get-vw(98px);
                max-width: 100%;
            }
        }

        .el5 {
            position: absolute;
            top: 44vh;
            right: 17vw;

            img {
                width: get-vw(52px);
                max-width: 100%;
                -ms-transform: rotate(-15deg);
                -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
            }
        }

        .el6 {
            position: absolute;
            top: 71vh;
            left: 16.2vw;
            img {
                width: get-vw(76px);
                max-width: 100%;
            }
        }

    }
    a:hover,
    a:focus{
        text-decoration: none;
        cursor: pointer;
    }
    .screen-reader-text{
        display: none;
    }
    .top_menu nav.main_menu ul{
        padding: 31px 0 0 0!important;
    }

    .top_menu .all_products{
        padding-top: 20px!important;
        padding-right: 20px!important;
    }
    .single_dots_overlay{
        background: transparent url("../images/contact_dots.png") repeat center center;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    .txt_1_wrap{
        text-align: center;
        padding-top: 131px;
        .go_back{
            font-family: liebedorisregular, sans-serif;
            font-weight: 400;
            font-size: 28px;
            line-height: 30px;
            color: #030303;
            padding: 0 60px;
        }

        .short_line{
            position: relative;
            bottom: 6px;
        }
    }

    .txt_2_wrap{
        text-align: center;
        padding-top: 43px;
        .title{
            font-family: "brandon-grotesque", sans-serif;
            font-size: 24px;
            line-height: 26px;
            color: #000000;
            text-transform: uppercase;
            font-weight: 900;
            padding-bottom: 7px;
        }
        .single_post_date{
            font-family: "brandon-grotesque", sans-serif;
            font-size: 12px;
            line-height: 14px;
            color: #1e1e1e;
            text-transform: uppercase;
            font-weight: 900;
        }
    }

    .txt_3_wrap{
        font-family: "brandon-grotesque", sans-serif;
        font-weight: 400;
        //color: #bdbdbd;
        color: #1e1e1e;
        font-size: 16px;
        line-height: 28px;
        padding-top: 45px;
        margin: 0 auto;
        max-width: 835px;
        letter-spacing: -0.029px;
        padding-bottom: 63px;

        a{
            font-weight: 800;
            color: #000;
            cursor: pointer;
        }
    }

    .img_wrap{
        text-align: center;
        display: block!important;

        img{
            //max-width: 100%;
        }
    }

    .left, .right{
        .sub_title{
            font-family: liebedorisregular, sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 28px;
            color: #a15624;
        }

        .sub_title_bottom{
            font-family: liebedorisbold, sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #cccccc;

            max-width: 250px;
            padding-bottom: 15px;

            &.sub {
                padding-top: 20px;

            }
        }
    }

    .left{
        padding-left: 70px;
        padding-top: 62px;
        .ingredient{
            font-family: liebedorisbold, sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #000000;
            max-width: 250px;
            padding-bottom: 15px;
        }

        .sub_title{
            padding-bottom: 33px;
        }

        .sub_title_bottom{
            padding-bottom:15px;

        }

        .print{
            font-family: "brandon-grotesque", sans-serif;
            font-size: 11px;
            line-height: 13px;
            color: #ffffff;
            text-transform: uppercase;
            font-weight: 900;
            background-color: #000000;
            border-radius: 30px;
            padding: 11px 0;
            margin-top: 65px;
            display: block;
            width: 106px;
            text-align: center;
            letter-spacing: 0.2em;
        }
    }
    .right{
        padding: 43px 73px 333px 19px;

        &.not_recipe{
            padding: 63px 73px 333px 73px;

            .print{
                font-family: "brandon-grotesque", sans-serif;
                font-size: 11px;
                line-height: 13px;
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 900;
                background-color: #000000;
                border-radius: 30px;
                padding: 11px 0;
                display: block;
                width: 106px;
                text-align: center;
                letter-spacing: 0.2em;
                margin-bottom: 29px;

            }
        }

        .directions{
            font-family: "brandon-grotesque", sans-serif;
            font-weight: 400;
            color: #1e1e1e;
            font-size: 16px;
            line-height: 28px;
            padding-left: 5px;
            text-align: justify;
            letter-spacing: -0.09px;

            h1, h2, h3, h4, h5, h6 {
                font-family: liebedorisregular, sans-serif;
                font-weight: 400;
                color: #1e1e1e;
                padding-bottom: 14px;
            }

            h1 {
                font-size: 26px;
                line-height: 28px;
                color: #a15624;
            }

            h2 {
                font-size: 24px;
                line-height: 26px;
            }

            h3 {
                font-size: 22px;
                line-height: 24px;
            }

            h4 {
                font-size: 21px;
                line-height: 23px;
            }

            h5 {
                font-size: 20px;
                line-height: 22px;
            }

            h6 {
                font-size: 19px;
                line-height: 21px;
            }

            p{
                margin-bottom: 29px;
            }
        }

        .sub_title{
            padding-bottom: 13px;
        }

        .location_line{
            width: 100%;
            background-size: cover;
            position: relative;
            top: 7px;
            display: block;
        }

        a{
            position: relative;
            font-family: "brandon-grotesque", sans-serif;
            font-size: 11px;
            line-height: 13px;
            color: #030303;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: 0.2em;

            &:hover::after{
                opacity: 1!important;
            }
        }

        a[rel="prev"]{
            position: relative;
            top: 45px;
            left: 6px;
            float: left;

            &::after{
                //background: transparent url('../images/svg/new-line-black.svg') no-repeat center center;
                background: transparent url(../images/ico_instagram_line.svg) no-repeat center top;
                position: absolute;
                content: " ";
                display: inline-block;
                width: 100%;
                height: 3px;
                z-index: 1;
                bottom: -14px;
                left: 0;
                opacity: 0;
                transition: all 250ms;
            }
        }

        a[rel="next"]{
            position: relative;
            top: 45px;
            right: 8px;
            float: right;

            &::after{
                //background: transparent url('../images/svg/new-line-black.svg') no-repeat center center;
                background: transparent url(../images/ico_instagram_line.svg) no-repeat center top;
                position: absolute;
                content: " ";
                display: inline-block;
                width: 100%;
                height: 3px;
                z-index: 1;
                bottom: -14px;
                left: 0;
                opacity: 0;
                transition: all 250ms;
            }
        }
    }
}

@media (max-width: 2000px){
    .blog_post .ilustrations .el5,
    .blog_list .ilustrations .el5{
        right: 6vw;
    }

    .blog_post .ilustrations .el2,
    .blog_list .ilustrations .el2{
        left: 4.4vw;
    }

    .blog_post .ilustrations .el6,
    .blog_list .ilustrations .el6{
        left: 5.2vw;
    }
}

@media (max-width: 1570px){
    .blog_post .ilustrations .el5,
    .blog_list .ilustrations .el5,
    .blog_post .ilustrations .el2,
    .blog_list .ilustrations .el2,
    .blog_post .ilustrations .el6,
    .blog_list .ilustrations .el6{
        display: none;
    }
}

@media (max-width: 1440px){
    .blog_post .ilustrations .el1,
    .blog_list .ilustrations .el1{
        display: none;
    }
}